extends layout


block content
  .main.container
    .row
      .col.l12.m12.col-md-offset-3
        h3.display-4.m-b-2= title
    .row
      .col.l12.md12.col-md-offset-3
        div.col-m-12=message
    .row
      .col.s12.m6
        .card
          .card-content#textContent
            span.card-title Supplement #{supplement.Id}
            p Owner:  #{supplement.Owner}
            p University:#{supplement.University}
            p Authorized Users:
            .card
              .card-content#textContent
                span.card-title 
                ul  
                  each val in supplement.Authorized
                    li #{val}
            form(method='POST' action='../addAuthorizedUser')
              div.form-group
                label(for='name') eID:
                input#name.form-control(type='text', placeholder='new user e-Identifier' name='name')
                input.form-control(type='hidden', name='supId', value= supplement.Id)  
              button.btn.btn-primary(type='submit') Add User
                
    .row
      .col.l6.m6.col-md-offset-3
        a.btn.btn-primary(href="/login") Back 


  script
    include ../scripts/qrScript.js
