extends layout

block content
  .main.container
    .row
      .col.l12.m12.col-md-offset-3
        h3.display-4.m-b-2= title
    .row
      .col.l12.md12.col-md-offset-3
        div.col-m-12=message
    .row
      .col.l12.md12.col-md-offset-3
        // register form
        form(method='POST' action='publish')
          div.form-group
            label(for='owner') Owner eID:
            if ownerEid !== undefined
              input#owner.form-control(type='text', placeholder='eid' name='owner' value=ownerEid readonly)
            else
              input#owner.form-control(type='text', placeholder='eid' name='owner' value=ownerEid )
          div.form-group
            label(for='name') Name:
            if ownerFirstName !== undefined
              input#name.form-control(type='text', placeholder='first name' name='name' value=ownerFirstName readonly)
            else
              input#name.form-control(type='text', placeholder='first name' name='name' value=ownerFirstName)
          div.form-group
            label(for='surname') Surname:
            if ownerFirstName !== undefined
              input#surname.form-control(type='text', placeholder='last name' name='surname' value=ownerLastName readonly)
            else
              input#surname.form-control(type='text', placeholder='last name' name='surname' value=ownerLastName)
          div.form-group
            label(for='university') University:
            input#university.form-control(type='text', value=university name='university' readonly)
          div.form-group
            label(for='id') Supplement ID:
            input#id.form-control(type='text', value=supId name='id' readonly)
          
          button.btn.btn-primary(type='submit') Publish
