extends layout


block content
  .main.container
    .row
      .col.l12.m12.col-md-offset-3
        h3.display-4.m-b-2= title
    .row
      .col.l12.md12.col-md-offset-3
        div.col-m-12=message
    .row
      .col.s12.m6
        each val in requests
          .card
            .card-content#textContent
              span.card-title
              p Name: #{val.Name}
              p eID:  #{val.Eid}
              p Email:#{val.Email}
              p University Id: #{val.UniId}
              p University Name: #{val.University}
            .card-content(id="svgContent"+val.Id style={display: 'none', background: 'white',width:'16em'})    

            .card-action
              div.row.card-content
                a.btn-floating.btn-large.waves-effect.waves-light.blue(href="/prepublish?name="+val.Name+"&eID="+val.Eid+"&university="+val.University+) 
                  i.material-icons edit
                
              
                
                    

                //- a.btn-floating.btn-large.waves-effect.waves-light.red(style={float:'right'} onclick='getAndDisplayOrHideQr("'+val.Id+'","svgContent' + val.Id + '")') 
                //-   i.material-icons dashboard
    .row
      .col.l6.m6.col-md-offset-3
        a.btn.btn-primary(href="/login") Back 


  script(type="text/javascript" src="http://canvg.github.io/canvg/rgbcolor.js")
  script(type="text/javascript" src="http://canvg.github.io/canvg/StackBlur.js")
  script(type="text/javascript" src="http://canvg.github.io/canvg/canvg.js")
  script
    include ../scripts/qrScript.js
  script
    include ../scripts/emailScript.js
  script.
    var onModalHide = function() {
      $(".sendEmail").show();
      $(".modalMessage").show();
      $(".preloader").hide();
      $(".qrCode").hide();
      
    };
    $(document).ready(function(){
        $('.modal').modal({
            complete : onModalHide  
        });
    });
